.about_content {
  max-width: 1000px;
  margin: 100px auto;

  .about_content_p {
    text-align: left;
    margin-top:100px;
    p {
      text-align: left;
      letter-spacing: 1.8px;
      font-size: 18px;
    }
  }
  &_title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    h1 {
      font-size: 2.625rem; // = 42px
      text-align: center;
    }

    img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__text {
    margin: 8rem 0;

    p {
      font-size: 18px; // ≒ 20px
      line-height: 3; // 行間を文字の3倍に
      color: $black34-color;
      font-weight: 300;
    }
  }
}

//_____________________________________________________________
@media screen and (max-width: 1024px) {

  .about_content {
    margin-top: 100px;
    .about_content_p {
      padding: 80px;
      text-align: left;
      p {
        font-size: 16px;
        text-align: left;
        letter-spacing: 2px;
        font-weight: 200;
      }
    }
  }
  
  .splide{
    .splide__slide{
     iframe{
       height: 100%;
       .splide__arrows {
        position: absolute;
        z-index: 22222222222222224;
        margin-top: 40px;
        top: 30%;
        left: 0;
        right: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        transform: translateY(-50%);
        pointer-events: none;
      }
     }
     }
  }



 }
 
@media screen and (max-width: 600px) {
.about_content {
    margin-top: 0;
    .about_content_p {
      padding: 33px;
      p {
        font-size: 13px;
        padding: 0;
        text-align: left;
      }
    }
  }
.splide{
   .splide__slide{
    iframe{
      margin-top: 100px;
      height: 100%;
    }
   }
}
.splide__arrows {
      position: absolute;
      z-index: 22222222222222224;
      margin-top: 220px;
      left: 0;
      right: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      transform: translateY(-50%);
      pointer-events: none;
    }
  }

